@import "fonts.css";
body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}

.pricing-head {
    background-size: cover;
    position: relative;
    min-height: 860px;
    height: 100%;
    background-color: #eef1ec;
}

.container {
    max-width: 1110px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}


.head-inner {
    position: relative;
}


.header {
    width: 100%;
    display: flex;
    margin: auto;
}

.logo {
    margin: 32px 0;
}

.header p {
    padding: 32px 10px;
    font-size: 13px;
    line-height: 21px;
    font-weight: 400;
    max-width: 150px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    color: #83a7a5;
}

.nav-bar {
    margin: 21px auto;
    width: 100%;
    max-width: 460px;
    color: #83a7a5;
}

.nav-list {
    display: flex;
    list-style: none;
    width: 100%;
}

.link {
    text-decoration: none;
    padding: 4px;
    font-size: 13px;
    margin: 15px 30px 15px 15px;
    line-height: 21px;
    color: #83a7a5;
    font-weight: 400;
    text-align: right;
}

.link:hover {
    color: darkgreen;
}

.toggle-button {
    position: absolute;
    top: 15px;
    right: 15px;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    display: none;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: #83a7a5;
    border-radius: 10px;
}


@media (max-width: 1000px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 210px;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 45px;
        right: 1px;
        height: 210px;
    }

    .navbar-links.active {
        display: flex;
    }

    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-list {
        position: absolute;
        flex-wrap: wrap;
    }
    .nav-list li {
        text-align: center;
        width: 100%;
        padding: 12px 0;
        box-sizing: border-box;
    }
    .nav-list li a {
        padding: 10px;
        font-size: 20px;
    }

    .header  button {
        display: none;
    }
}

@media (max-width: 500px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 45px;
        right: 1px;
        height: 240px;
    }

    .navbar-links.active {
        display: flex;
    }

    .pricing.active {
        display: none;
    }

    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-list {
        position: absolute;
        flex-wrap: wrap;
    }
    .nav-list li {
        text-align: center;
        width: 100%;
        padding: 12px 0;
        box-sizing: border-box;
    }
    .nav-list li a {
        padding: 10px;
        font-size: 20px;
    }

    .header p {
        display: none;
    }
    .header  button {
        display: none;
    }
}

.header button {
    outline: none;
    margin: auto;
    padding: 6px 10px;
    border-radius: 2px;
    font-size: 13px;
}

hr {
    width: 50px;
}

.btn-color {
    background-color: #6fb048;
    color: #ffffff;
    border: 1px solid #6fb048;
}

.pricing {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 15px 0;
}

.pricing-title {
    text-align: center;
    margin: 0 auto 45px;
    max-width: 500px;
}

.pricing-title h2 {
    position: relative;
    font-size: 32px;
    font-weight: 300;
    line-height: 1.1;
    color: #0f5f5c;
    margin-bottom: 34px;
}

.pricing-title p {
    font-size: 15px;
    line-height: 1.33;
    color: #83a7a5;
}

.pricing-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid 1px #c1d3d2;
    padding: 30px 0;
    width: 255px;
}

.pricing-column-title {
    font-size: 15px;
    font-weight: 500;
    color: #6fb048;
    margin-bottom: 27px;
}

.price {
    font-size: 65px;
    color: #0f5f5c;
    margin-bottom: 3px;
}

.pricing-month {
    font-size: 14px;
    color: #0f5f5c;
    margin-bottom: 25px;
}

.pricing-info {
    width: 125px;
    margin: 25px auto;
    font-size: 14px;
    line-height: 2;
    color: #83a7a5;
}

.pricing-btn {
    display: inline-block;
    width: 130px;
    padding: 15px 0;
    border-radius: 2px;
    background-color: #83a7a5;
    font-size: 13px;
    border: 1px solid #83a7a5;
    outline: none;
}

.plan {
    padding: 78px 15px 0;
    margin: 0 auto;
}

.plan-title {
    text-align: center;
    position: relative;
    margin: 0 auto;
    font-size: 22px;
    color: #0f5f5c;
}

.plan-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.plan-column {
    padding: 0 10px;
    box-sizing: border-box;
    max-width: 360px;
}

.plan-column li {
    color: #83a7a5;
    margin-bottom: 25px;
    padding-left: 35px;
    position: relative;
    list-style: none;
}

.icon {
    position: absolute;
    top: -4px;
    left: -3px;
}

.help {
    text-align: center;
}

.help-image {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: block;
}

.help-title {
    font-size: 32px;
    color: #6fb048;
    margin-bottom: 35px;
    position: relative;
    display: inline-block
}

.help-text {
    max-width: 558px;
    margin: 0 auto;
    padding: 0 15px;
    font-size: 15px;
    color: #83a7a5;
}

.help-email {
    max-width: 558px;
    margin: 0 auto;
    padding: 0 15px;
    font-size: 15px;
    color: green;
}


.download {
    background-image: url("../../assets/images/bg_download.png");
    min-height: 200px;
    height: 100%;
    background-size: cover;
    margin: 60px 0;
}

.download-column {
    max-width: 780px;
    width: 100%;
}

.download-column h2 {
    font-size: 28px;
    line-height: 22px;
    color: #0f5f5c;
    font-weight: 300;
}

.download-column p {
    font-size: 15px;
    line-height: 22px;
    color: #83a7a5;
    font-weight: 400;
}

.download-btn {
    float: right;
    font-size: 13px;
    line-height: 22px;
    outline: none;
    width: 285px;
    height: 42px;
    border-radius: 2px;
}

.download-row {
    display: flex;
    padding: 40px 0;
    align-items: center;
    justify-content: center;
    color: white;
}


.footer-row {
    display: flex;
    margin: 80px 0;
    flex-wrap: wrap;
}

.footer-column {
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
}

.email input {
    border: 1px solid #eef1ec;
    padding: 5px;
    width: 210px;
    height: 36px;
    background-color: #eef1ec;
    box-sizing: border-box;
    outline: none;
}

.email {
    width: 100%;
    display: flex;
}

.email button {
    border: none;
}


.footer-column h2 {
    font-size: 22px;
    line-height: 35px;
    color: #0f5f5c;
    font-weight: bold;
    text-align: left;
}

.footer-column p {
    font-size: 13px;
    line-height: 28px;
    color: #83a7a5;
    font-weight: 400;
    text-align: left;
    width: 210px;
}

.footer-bottom-row {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid green;
}

.footer-column-left {
    flex: 1.1;
    font-size: 12px;
    line-height: 18px;
    color: #83a7a5;
}

.footer-column-right {
    width: 100%;
    max-width: 270px;
}

.footer-column-right ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    float: right;
}

.footer-column-right li {
    margin: 5px;
}
